/** **************************************** **/
/**                  Fonts                    */
/** **************************************** **/

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

/** *********************************** **/
/**               General               **/
/** *********************************** **/

body {
    color: #222B32;
    font-family: Roboto, sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: Oswald, sans-serif;
    margin-bottom: 1em;
}

a {
    color: #405e48;
}

a:hover {
    color: #2a4832;
}

a:visited {
    color: #6c5785;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

.btn-check:checked+.btn-secondary,
.btn-secondary.active,
.btn-secondary:active,
.show>.btn-secondary.dropdown-toggle {
    background-color: #222B32;
    border-color: #51585e;
}

.wrapper {
    margin: 0 auto;
    padding: 0;
    max-width: 1280px;
}

.em-red {
    color: #fb8072;
}
.em-dark {
    color: #222B32;
}

.btn:focus {
    box-shadow: 0 0 0 0.25rem rgb(133 192 149 / 47%);
}

.form-select:focus {
    border-color: #85c095;
    box-shadow: 0 0 0 0.25rem rgb(133 192 149 / 47%);
}

/** *********************************** **/
/**                Charts               **/
/** *********************************** **/

.tooltip {
    position: absolute;
    text-align: center;
    font: 12px sans-serif;
    width: auto;
}

.tooltip .tooltip-box {
    border-bottom-left-radius: 36px;
    border-top-right-radius: 36px;
    background-color: #222b33;
    color: white;
    padding: 20px;
    height: auto;
    width: auto;
}

.tooltip .tooltip-box .driver-name {
    margin-bottom: 0.5em;
}

.tooltip .tooltip-box .percent-value {
    color: #85c094;
    margin-bottom: 0;
    font-size: 48px;
}

.tooltip-small .tooltip-box .country-name {
    margin-bottom: 0.5em;
    font-size: 24px;
}

.tooltip-small .tooltip-box .abs-value {
    color: #85c094;
    margin-bottom: 0;
    font-size: 16px;
}

/** *********************************** **/
/**             All Sections            **/
/** *********************************** **/

section {
    min-height: 300px;
    max-width: 100vw;
    border-bottom: 1px solid lightgrey;
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.section-title {
    text-align: center;
    font-size: 36px;
    padding: 72px 0 24px 0;
    text-decoration-line: underline;
    text-underline-offset: 18px;
}

.section-remark {
    font-size: 48px;
    margin-bottom: 0;
    max-width: 920px;
    margin: auto;
}

.section-statement {
    font-size: 32px;
    margin-bottom: 0;
    max-width: 920px;
    margin: auto;
}


/** *********************************** **/
/**             Section 1               **/
/** *********************************** **/

#section-1 {
    padding: 12% 8%;
    background-color: #85c094;
    color: white;
    text-align: center;
    height: 100vh;
    background-image: url(/images/trees-10-pcnt.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

#section-1 .col-centered {
    margin: auto;
}

/** *********************************** **/
/**             Section 2               **/
/** *********************************** **/

#section-2 {
    padding: 12% 8%;
    text-align: center;
    background-color: #f7f7f7;
}

#section-2 h2 {
    margin-bottom: 1em;
}

#section-2 .big-leaf-btn {
    border-radius: 0px 36px 0px 36px;
    background-color: #85c094;
    color: white;
    padding: 20px;
    height: auto;
    min-width: 80px;
    margin-left: 16px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 1px 2px 3px rgb(0 0 0 / 50%);
}

#section-2 .big-leaf-btn:hover,
#section-2 .big-leaf-btn.selected {
    background-color: #222b33;
}

/** *********************************** **/
/**             Section 3               **/
/** *********************************** **/

#section-3 {
    height: 0px;
    padding: 12% 8%;
    text-align: center;
    display: none;
    overflow-y: hidden;
    transition: height 0.4s linear;
}

#section-3.expanded {
    display: block;
    height: 390px;
}

/** *********************************** **/
/**             Section 4               **/
/** *********************************** **/

#section-4 {
    padding: 12% 8%;
    background-color: #85c094;
    color: white;
}


/** *********************************** **/
/**    Section 5 - Plants vs Animals    **/
/** *********************************** **/

#section-5 {
    height: 90vh;
}

#section-5-info {
    height: 180px;
}

#section-5-vis {
    height: calc(82vh - 180px); /* 82 = 90-8 (to leave some margin at the bottom of the section. */
}

#section-5 .section-text {
    margin: 0;
    padding: 0 1em;
}

#comparison-selector {
    width: auto;
    max-width: 100%;
}

#comparison-chart-selector {
    height: 25%;
}

#comparison-chart-selector div {
    height: auto;
    margin-left: 10%;
    margin-top: 10%;
}

#comparison-chart-selector p {
    padding: 0;
    margin: 0;
}

#comparison-chart-legend {
    height: 75%;
}

#comparison-chart-tooltip .tooltip-box h3 {
    margin: 0;
    font-size: 30px;
}

#comparison-chart-tooltip .tooltip-box h4 {
    margin: 0.5em 0 0 0;
    font-size: 20px;
}

#comparison-chart-tooltip .tooltip-box span {
    color: #fb8072;
}

@media(max-width: 1100px) {
    #comparison-chart-legend .legend-row-group text {
        font-size: 0.8em;
    }
}

@media(max-width: 1000px) {
    #comparison-chart-legend .legend-row-group text {
        font-size: 0.6em;
    }
}

@media(max-width: 900px) {
    #comparison-chart-legend .legend-row-group text {
        font-size: 0.5em;
    }
}


/** *********************************** **/
/**     Section 6 - Extinction Rate     **/
/** *********************************** **/

#section-6 {
    padding: 0% 4% 4%;
}

#extinction-rate-toggle {
    margin: 0;
    padding: 0;
}

#sec06-vis {
    height: 25vh;
}

#sec06-vis text {
    font-size: 1.5em;
}

@media(max-width: 1000px) {
    #sec06-vis text {
        font-size: 1.25em;
    }
}

@media(max-width: 850px) {
    #sec06-vis text {
        font-size: 1em;
    }
}

#sec-6-buttons {
    margin-top: 24px;
    margin-bottom: 24px;
}

#section-6-footer {
    height: 20vh;
}

#section-6-footer h4 {
    margin: 0;
    padding: 0;
}


/** *********************************** **/
/**              Section 7              **/
/** *********************************** **/

#section-7 {
    background-color: #e6f8ec;
}

#section-7 img {
    width: 100%;
    border-bottom-left-radius: 160px;
    border-top-right-radius: 160px;
    box-shadow: 1px 2px 3px rgb(0 0 0 / 50%);
}

#section-7 a {
    color: #85c094;
}

#section-7 a:hover {
    color: #405e48;
}

#section-7 .description {
    padding: 8% 0% 8% 8%;
}

#section-7 .description .section-statement {
    font-family: Oswald, sans-serif;
    margin-bottom: 1em;
    font-size: 24px;
}

#section-7 .bee {
    padding: 6% 8% 6% 4%;
}

/** *********************************** **/
/**     Section 8 - Extinction Risk     **/
/** *********************************** **/

#section-8 .wrapper {
    min-height: 500px;
}

#section-8 .map {
    padding: 4% 8% 0% 8%;
    background-color: #f7f7f7;
    margin-bottom: 40px;
    border-bottom-left-radius: 36px;
    border-top-right-radius: 36px;
    box-shadow: 1px 2px 3px rgb(0 0 0 / 50%);
}

#section-8 .map #map-3d-chart {
    height: 100%;
}

#section-8 .chart {
    padding: 4% 8% 4% 4%;
}

#section-8 img {
    padding: 0;
    width: 100%;
}

#section-8 .country3d {
    stroke: #818181;
}

#section-8 #risk-total-species {
    margin-top: 5px;
}

#section-8 #stacked-chart {
    height: 92%;
    margin-top: -40px;
    /*position: relative;*/
}

#section-8 #stacked-chart .domain {
    display: none;
}

#section-8 #stacked-chart .tick line {
    display: none;
}

#section-8 .bar-section {
    stroke: #93999d;
    cursor: pointer;
}

#section-8 #risk-labels li {
    list-style: none;
    font-size: 14px;
    margin-bottom: 0;
}

#section-8 #risk-labels .color-box {
    background-color: #222B32;
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-right: 4px;
    border: 1px solid #93999d;
}


/** *********************************** **/
/** Section 9 - The Root of the Problem **/
/** *********************************** **/
#section-9 {
    background-color: #f7f7f7;
}

#section-9 .tree {
    padding: 4% 8%;
}

#section-9 .tree .tree-top img {
    padding: 0;
}

#section-9 .tree .tree-root {
    min-height: 240px;
    padding: 0;
}

#section-9 .tree .tree-root svg {
    padding: 0;
}

#section-9 .description {
    margin-bottom: 2em;
    padding: 4% 4% 4% 4%;
    background-color: #e6f8ec;
    border-bottom-left-radius: 36px;
    border-top-right-radius: 36px;
    box-shadow: 1px 2px 3px rgb(0 0 0 / 50%);
}

/** Section 9 Chart **/
#section-9 .bar {
    stroke: #93999d;
    cursor: pointer;
}

#root-cause-info-container {
    height: 80%;
    margin: 0;
    padding: 0;
}

#root-cause-link {
    height: 20%;
    margin: 0;
    padding: 0;
}

/** *********************************** **/
/**             Section 10              **/
/** *********************************** **/

#section-10 {
    padding: 12% 8%;
    background-color: #85c094;
    background-image: url(/images/trees2-10-pcnt.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

#section-10 .section-remark {
    color: white;
}



/** *********************************** **/
/**             Section 11              **/
/** *********************************** **/

#section-11 {
    padding: 12% 8%;
    background-color: #e6f8ec;
    border-bottom: none;
}


/** *********************************** **/
/**             Section 12              **/
/** *********************************** **/


#section-12-intro {
    background-color: #e6f8ec;
    border-bottom: none;
    padding-bottom: 4%;
}

#section-12-intro .wrapper {
    max-width: 940px;
}

#section-12 {
    height: 50%;
    margin: 0;
}

#section-12 .video-player {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow: hidden;
}


/** *********************************** **/
/** Section 13  Extinct vs Rediscovered **/
/** *********************************** **/
#section-13 {
    padding-bottom: 8%;
}

#section-13 .map {
    padding: 0% 8% 4% 8%;
    height: 600px;
    text-align: center;
}

#section-13 .map .btn {
    width: 200px;
    margin-top: 24px;
}

#section-13 .map #map-flat-chart {
    height: 100%;
    border: 1px solid lightgray;
    max-width: 980px;
    margin: auto;
}

#section-13 .country {
    stroke: #4b4b4b;
}

#section-13 h3 {
    text-align: center;
}

#section-13 .tooltip-small .tooltip-box {
    background-color: #222b33;
}


/** *********************************** **/
/**             Section 14              **/
/** *********************************** **/

#section-14 {
    padding: 12% 8%;
    background-color: #e6f8ec;
}


/** *********************************** **/
/**             Section 15              **/
/** *********************************** **/

#section-15 {
    padding: 0% 8% 8% 8%;
    background-color: #85c094;
    color: white;
}

#section-15 .wrapper {
    max-width: 920px;
}

#section-15 .team-info {
    text-align: center;
}

#section-15 .team-member img {
    width: 100%;
    max-width: 160px;
    border-bottom-left-radius: 36px;
    border-top-right-radius: 36px;
    box-shadow: 1px 2px 3px rgb(0 0 0 / 50%);
}

#section-15 .team-member .member-name {
    color: #222B32;
    font-size: 20px;
    margin-top: 1em;
}
