.container-fluid {
    padding: 0;
    margin: 0;
}

section {
    height: 100vh;
    width: 100vw;
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

#comparison-selector {
    width: auto;
    max-width: 100%;
}


/**  Temporary Styles for Storyboard Slides  **/
/*  Remove once all sections are implemented  */

.temp-storyboard-slide {
    text-align: center;
    border-bottom: 1px solid lightgrey;
}

.temp-storyboard-slide.color-green {
    background-color: #85c094;
}

.temp-storyboard-slide.color-light-green {
    background-color: #e6f8ec;
}

.temp-storyboard-slide.color-grey {
    background-color: lightgrey;
}

.temp-storyboard-slide.color-black {
    background-color: black;
}

.temp-storyboard-slide.color-white {
    background-color: white;
}

.temp-storyboard-slide img {
    width: 60%;
}
